@{

	ViewData["Title"] = "Admin Page";
}

<h2>Admin Control Board</h2>
<hr />
<a class="btn btn-info" asp-controller="Customer" asp-action="Index">Customer Management</a>
<a class="btn btn-success" asp-controller="Products" asp-action="Index">Product Management</a>
<a class="btn btn-primary" asp-controller="OrderManagement" asp-action="Index">Order Management</a>