@{
	ViewData["Title"] = "Order";
}
@model Order;

<style>

    .checkout__order {
		background: #f5f5f5;
		padding: 40px;
		padding-top: 30px;
	}

	.checkout__order h4 {
		color: #1c1c1c;
		font-weight: 700;
		border-bottom: 1px solid #e1e1e1;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.checkout__order .checkout__order__products {
		font-size: 18px;
		color: #1c1c1c;
		font-weight: 700;
		margin-bottom: 10px;
	}

	.checkout__order .checkout__order__products span {
		float: right;
	}

	.checkout__order ul {
		margin-bottom: 12px;
	}

	.checkout__order ul li {
		font-size: 16px;
		color: #6f6f6f;
		line-height: 40px;
		list-style: none;
	}

	.checkout__order ul li span {
		font-weight: 700;
		float: right;
	}

	.checkout__order .checkout__order__subtotal {
		font-size: 18px;
		color: #1c1c1c;
		font-weight: 700;
		border-bottom: 1px solid #e1e1e1;
		border-top: 1px solid #e1e1e1;
		padding-bottom: 15px;
		margin-bottom: 15px;
		padding-top: 15px;
	}

	.checkout__order .checkout__order__subtotal span {
		float: right;
	}

	.checkout__order .checkout__input__checkbox label {
		padding-left: 20px;
	}

	.checkout__order .checkout__order__total {
		font-size: 18px;
		color: #1c1c1c;
		font-weight: 700;
		border-bottom: 1px solid #e1e1e1;
		padding-bottom: 15px;
		margin-bottom: 25px;
	}

	.checkout__order .checkout__order__total span {
		float: right;
		color: #dd2222;
	}

	.checkout__order button {
		font-size: 18px;
		letter-spacing: 2px;
		width: 100%;
		margin-top: 10px;
	}

</style>

@{
	double total = 0;
	int counter = 0;
}

<a class="btn btn-danger mb-2" asp-action="Index">Back to List</a>

<div class="d-flex">

	<div class="checkout__order w-50">
		<h4>Your Order</h4>
		<div class="checkout__order__products">Products <span>Total</span></div>
		<ul>
			@foreach(var orderdetail in Model.OrderDetails)
			{
				double subtotal = orderdetail.UnitPrice * orderdetail.quantity;
				total += subtotal;
				counter++;
				<li>@(counter) - @orderdetail.Product.Name <span>$@(subtotal)</span></li>
			}
		</ul>
		<div class="checkout__order__subtotal">OrderDate <span>@(Model.OrderDate.ToShortDateString())</span></div>
		<div class="checkout__order__total">Subtotal <span>$@(total)</span></div>
	</div>

</div>
